:root{
    --cor-de-fundo: #ebecee;
    --branco: white;
    --laranja: #eb9b00;
    --azul: #002F52;
    --azul-gradient: linear-gradient(95.54deg, #002F52 35.45%, #3265B9 165.37%);
    --fonte-pincipal: 'Poppins'
}
.carrosel__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.12rem;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}
.swiper-slide img{
     width: 100%;
}
.swiper-button-prev, .swiper-button-next{
    display: none;
}
.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}
.card__descricao{
    display: flex;
    gap: 1em;
}
.card{
    background-color: var(--branco);
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.descricao__titulo{
    color: var(--laranja);
    font-size: 1rem;
    font-weight: 700;
}
.descricao__titulo-livro{
    margin: 1em 0;
    color: var(--azul);
    font-size: 1rem;
    font-weight: 700;
}
.card__botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    align-items: center;
}
.botoes{
    display: flex;
}
.botoes__ancora{
    width: 37%;
    background-color: var(--laranja);
    text-align: center;
    padding: 1em;
    color: var(--branco);
}