@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&family=Montserrat&family=Poppins:wght@300;400;500;700&display=swap');

:root{
    --cor-de-fundo: #ebecee;
    --branco: white;
    --laranja: #eb9b00;
    --azul-gradient: linear-gradient(95.54deg, #002F52 35.45%, #3265B9 165.37%);
    --fonte-pincipal: 'Poppins';
    --fonte-secundaria: 'Josefin Sans';
    --azul: #002F52;
    --preto: black;
}
*{
    text-decoration: none;
}
.cabecalho{
    display: flex;
    gap: 1em;
    background-color: var(--branco);
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.cabecalho__menu{
    display: flex;
    align-items: center;

}
.cabecalho__hamburguer{
    width: 28px;
    height: 28px;
    background-image: url('../../imagens/menu_black.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}
.cabecalho__imagem{
    padding: 1em;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 9999;
}
.lista-perfil{
    display: none;
    position: absolute;
    top: 100%;
    right: 0%;
    width: 40vw;
    z-index: 9999;
}
.cabecalho__botao{
    display: none;
}
.perfil__botao{
    display: none;
}
.cabecalho__botao:checked ~ .lista-menu{
    display: block;
}
.perfil__botao:checked ~ .lista-perfil{
    display: block;
}
.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}
.lista-perfil__item{
    padding: 1em;
    background-color: var(--branco);
    
}
.lista-perfil__item:hover{
    background: var(--azul);
    color: var(--branco);
    text-transform: uppercase;
}
.lista-perfil__item:hover > .lista-perfil__link{
    background: var(--branco);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-backdrop-fill-color: transparent;
}
.lista-menu__link{
    background: var(--azul-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lista-perfil__link{
    text-transform: uppercase;
    background: var(--azul-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cabecalho__titulo{
    display: none;
}
.cabecalho__lista{
    display: none;
}

@media screen and (min-width: 1024px){
    .cabecalho__hamburguer{
        display: none;
    }
    
    .cabecalho__alurabook{
        padding: 1em 1em 1em 4em;
    }
    .cabecalho__titulo{
        display: inline;
        padding-top: .5em;
        font-family: var(--fonte-secundaria), sans-serif;
        font-weight: 400;
        font-size: 1.87rem;
    }
    strong{
        font-weight: 700;
    }
    .cabecalho__lista{
        display: flex;
        gap: 3em;
        margin-left: 5em;
        text-transform: uppercase;
    }
    .perfil__favoritos{
        display: none;
    }
    .cabecalho__imagem{
        margin-right: 2em;
    }
}