@import url('./banner.css');
@import url('./header.css');
@import url('./carrosel.css');
@import url('./topicos.css');
@import url('./contato.css');
@import url('./footer.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat&family=Poppins:wght@300;400;500;700&display=swap');
:root{
    --cor-de-fundo: #ebecee;
    --branco: white;
    --laranja: #eb9b00;
    --azul-gradient: linear-gradient(95.54deg, #002F52 35.45%, #3265B9 165.37%);
    --fonte-pincipal: 'Poppins';
    --cinza-rodape: #858585;
    --cinza-rodape-item: #474646;
    --preto: black;
    --branco-f9: #F9F9F9;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-pincipal);
    font-size: 1rem;
    font-weight: 400;
}
