:root{
    --cor-de-fundo: #ebecee;
    --branco: white;
    --laranja: #eb9b00;
    --azul: #002F52;
    --azul-gradient: linear-gradient(95.54deg, #002F52 35.45%, #3265B9 165.37%);
    --fonte-pincipal: 'Poppins'
}

.topicos{
    background: var(--azul-gradient);
    text-align: center;
    padding: 1.5em 0;
}
.topicos__titulo{
    color: var(--branco);
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 2em;
}
.lista-topicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.lista-topicos__item{
    background-color: var(--laranja);
    padding: 1em 2em;
    margin: .5em;
}
.lista-topicos__link{
    color: var(--branco);
    font-weight: 700;
    font-size: 0.8rem;
}

@media screen and (min-width: 1024px) {
    .lista-topicos{
        padding: 0 6em;
    }
    .lista-topicos__link{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1728px) {
    .topicos{
        padding: 3em 18em;
    }   
}