:root{
    --branco: white;
    --cor-de-fundo: #EBECEE;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
}
@media(max-width: 420px){
    .navegacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco);
    padding: 1em;
    }
    .navegacao__menu{
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .menu__menu:active{
        src: url('../imagens/menu_white.png');
        background-color: linear-gradiente(160deg, #002F52 0%, #326589 100%);
    }
    .navegacao__perfil{
        display: flex;
        align-items: center;
        gap: 1em;
    }

}