@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat&display=swap');

:root{
    --cor-azul: #167BF7;
    --branco-principal: #FFFFFF;
    --cor-cinza: #C0C0C0;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter'
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: var(--cor-de-fundo);


}
.container{
    background-image: url('../imagens/Background.png');
    background-position-x: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__inicio{
    display: flex;
    flex-direction: column;
    color: var(--branco-principal);
    align-items: center;
    padding: 15% 5.5%;
    gap: 54px;
}
.container__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}
.imagem-combo{
    width: 60%;
}
.container__conteudo__texto{
    font-family: var(--fonte-principal);
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
}
.container__conteudo__botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
.botoes{
    display: flex;
    flex-direction: column;
    border: white solid 2px;
    border-radius: 8px;
    padding: 1em;
    width: 100%;
    text-align: center;
    font-family: var(--fonte-principal), sans-serif;
    color: var(--branco-principal);
    transition: background-color 0.3s ease;
}
.asterisco{
    font-family: var(--fonte-principal), sans-serif;
    font-size: 0.75rem;
    color: var(--cor-cinza);
}
.section-01{
    display: flex;
    gap: 3em;
    flex-flow: row;
    margin: 10% 10%;
    align-items: center;
}
.img-telas{
    width: 80%;
}
.section-01-texto{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
.section-01-titulo{
    font-size: 3rem;
    font-family: var(--fonte-principal), sans-serif;
    font-weight: 700;
    color: white;
}
.section-01-descricao{
    font-size: 1rem;
    font-family: var(--fonte-principal), sans-serif;
    font-weight: 400;
    color: white;
}
.section-02{
    display: flex;
    align-items: center;
    padding: 151px 166px 226px 120px;
    gap: 70px;
}
.section-02-texto{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.botao__combo{
    width: 30%;
}
.section-03{
    display: flex;
    align-items: center;
    padding: 0 120px 226px 141px;
    gap: 44px;
}
.div__destaque{
    text-align: center;
    margin-bottom: 3%;
}
.section-04{
    display: flex;
    margin: 0 10%;
    gap: 3em;
}
.section-04__dispositivo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.logo-aluraplus{
    width: 8%;
}
.rodape__links{
    display: flex;
    gap: 16px;
}
.link{
    font-family: var(--fonte-principal), sans-serif;
    font-size: 1rem;
    color: var(--branco-principal);
}
.copyrights{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copyrights__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--branco-principal);
    font-size: 0.75rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
    width: 65%;
    gap: 25px;
    margin-bottom: 3%;
}
.botoes:hover{
    border: --cor-azul 2px solid;
    background-color: var(--cor-azul);
    
}
.link:hover{
    color: var(--cor-azul);
}

@media(max-width: 1200px){
    .container{
        display: flex;
        flex-direction: column;
        filter: brightness(0.5);
    }
    .section-01{
        display: flex;
        flex-direction: column;
    }
    .section-01-titulo{
        text-align: center;
    }
    .section-01-descricao{
        text-align: justify;
    }
    .section-02{
        display: flex;
        flex-direction: column-reverse;
    }
    .botao__combo{
        align-self: center;
        margin-top: 3%;
    }
    .section-03{
        flex-direction: column;

    }
    .section-04{
        display: flex;
        flex-direction: column;
    }
    .section-04__dispositivo{
        margin-bottom: 0;
    }
    .celular{
        margin-bottom: 16%;
    }
    .rodape__links{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .container__inicio{
        filter: brightness();
    }

}